<p id="notice"><%= notice %></p>

<p>
  <strong>X actor:</strong>
  <%= @activity.x_actor %>
</p>

<p>
  <strong>X verb:</strong>
  <%= @activity.x_verb %>
</p>

<p>
  <strong>X object:</strong>
  <%= @activity.x_object %>
</p>

<p>
  <strong>X result:</strong>
  <%= @activity.x_result %>
</p>

<p>
  <strong>X context:</strong>
  <%= @activity.x_context %>
</p>

<%= link_to 'Edit', edit_activity_path(@activity) %> |
<%= link_to 'Back', activities_path %>
